<div class="container mt-5">
    <div class="col-12">
        <div class="row">
            <div class="col-12 p-3">

                <button class="btn btn-primary btn-block ms-2" >Nueva Reserva</button>
                <div class="col-12 mt-3">
                    <div></div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-12">
                <div class="card p-3">
                    <div class="container mt-6">

                        <form>
                            <div class="mb-3 row">
                                <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Buscar:</label>
                                <div class="col-xs-3 col-sm-auto">
                                    <input id="table-filtering-search" class="form-control" type="text" [formControl]="filtro"/>
                                </div>
                            </div>
                        </form>

                        <table class="table table-hover align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">Número de Reserva</th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Cantidad de comensales  </th>
                                    <th scope="col">Fecha - Hora</th>
                                    <th scope="col" class="text-center">Actualizar</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let reservation of reservations"><!-- | filterPipe : filter.value" [class.table-success]="user.personId == selectedid" (click)="select(user)">-->

                                    <td>{{reservation.reservationId}}</td>
                                    <td>{{reservation.personLastName}} {{reservation.personName}}</td>
                                    <td>{{reservation.numberDiners}}</td>
                                    <td>{{reservation.date | date: 'd/M/yy' }} - {{reservation.time}} hs.</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-success ms-2" (click)="atenderReserva(reservation, $event)">Atender</button>
                                        
                                        <button type="button" class="btn btn-warning ms-2" (click)="finalizarReserva(reservation, $event)">Finalizar</button>
                                            
                                        <button type="button" class="btn btn-danger ms-2" (click)="cancelarReserva(reservation, $event)">Cancelar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>